.sidebar {
  background-color: var(--clr-dark-2);
  max-width: 20rem;
  height: 100vh;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.sidebar ul li {
  text-decoration: none;
  /* list-style-type: none; */
  padding: 1rem;
  font-size: 1.5rem;

  color: var(--clr-gray-1);
}

.navlink {
  text-decoration: none;
  color: #fff;
  font-weight: 800;
}

.activelink {
  color: var(--clr-black-1);
}

.navlink:hover {
  opacity: 0.8;
}
